<!doctype html>
<html lang="en";>
    <head>
        <meta charset="UTF-8">
        <title> Pipe Dreams</title>
        <link rel="stylesheet" href="pipedreams.css"/>
    </head>
    <body> 
        <a href="register" style="text-align: right;"> Click to register</a>
        <a href="login" > Click to login</a>
        <h1> <div class="thetitle"> Pipe Dreamz</div></h1>
       
        <br>
        <img src="alien.png" class="alien">
        <ul>
            <li><a class="line" href="Home"> HOME </a></li>
            <li class="shopdropdown"><a href="social" class="menu"> TOPS </a> <div class="dropdown"> <a href="shirts"> shirts </a> <a href="tees"> tees</a> <a href="Tanktops"> Tanktops</a> <a href="Graphics"> Graphics</a></div></li>
            <li class="shopdropdown"><a href="#about us" class="menu"> BOTTOMS</a> <div class="dropdown"> <a href="Pants"> Pants </a> <a href="jeans"> JEANS</a> <a href="Shorts"> SHORTS </a> <a href="Joggers/Sweats"> Sweats </a></div></li>
            <li class="shopdropdown"><a href="#about us" class="menu"> Footwear </a> <div class="dropdown"> <a href="Running"> Running</a> <a href="sneakers"> SNEAKERS</a> <a href="dress"> Dress shoes</a> <a href="Low-top"> Low-top </a></div></li>
            <li class="shopdropdown"><a href="#about us"class="menu"> JEWELRY</a> <div class="dropdown"> <a href="Rings"> rings </a> <a href="Necklaces"> Necklaces </a> <a href="earrings"> Earrings </a></li>
            <li><a href="#about us"> ACCESORIES</a></li>
            <li style="float: right"><a href="news"> NEWS </a></li>
            <li style="float: right"><a href="about us/more"> ABOUT US</a></li>
        </ul>
        <div class="news">
            <br>
            
            
            <img src="pic.png" class="pic">
            <p class="newstext">
             - New design available next Week <br>
             - 'No escape'  <br>
             - Created by Josue Luna <br>
             - 20 Dollars 
            </p>
        </div>
    </body>

</html>
