<title> Register </title>
<link rel="stylesheet" href="loginindex.css">
<body>
<br><br>
<br>
<br><br>
<div class="regdiv">
    <br>
    <label class="title"> Register </label>
    <br>
    <form class="regform" action="register/done" method="POST">
        <label> Email </label> <input type="text" class="emailt" name="email" id="email" placeholder="Enter an Email" required/>
        <br>
        <label> Password </label> <input type="password" class="passw" name="password" id="password" placeholder="Enter a password" required/>
        <br>
        <input class="submitbutton" type="submit" value="register"/>
    </form>
    <div class="regmore">
    <br><br> <a href="login" class="logbut"> Login </a>
    </div>
</div>
</body>